/* Write your global styles here, in PostCSS syntax */

html {
	background-color: rebeccapurple;

	&:hover {
		background-color: red;
	}
}

@custom-selector :--txt p;

:--txt {
	color: pink;

	&:hover {
		color: greenyellow;
	}
}
