:root {
    --bg: rgb(213, 218, 218);
    --fg: rgb(0, 0, 0);
    --dark: rgb(15, 30, 10);
    --light: rgb(55, 165, 20);
}

html {
    background-color: var(--bg);
    background-image: url('/img/cardboard.png');
}

:root, html, body {
    font-family: 'Recursive', system-ui, sans-serif;
    font-variation-settings: "MONO" 0, "CASL" 0.3, "wght" 350;
    line-height: 1.5;
    color: var(--fg);
    height: --webkit-fill-available;
    overflow: hidden;
}

h1, h2, h3, h4, h5 {
    font-variation-settings: "CASL" 1, "wght" 600;
}

a {
    color: var(--fg);
    text-decoration: none;
    font-variation-settings: "MONO" 1, "CASL" 0, "wght" 500;
    transition: font-variation-settings 0.2s ease-out;
}

a:hover, a.active {
    font-variation-settings: "MONO" 1, "CASL" 1, "wght" 800;
}

a:active {
    font-variation-settings: "MONO" 1, "CASL" 0, "wght" 1000;
}

a.active {
    color: var(--light);
}

pre, code {
    font-family: 'Recursive', system-ui, sans-serif;
    font-variation-settings: "MONO" 1, "CASL" 0, "wght" 400;
    color: var(--light);
    background-color: var(--dark);
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
}

h2 > code, h3 > code, h4 > code, h5 > code {
    color: var(--fg);
    background: var(--bg);
}

pre {
    border-radius: 0.5rem;
    padding: 1rem;
}

.flow > :where(:not(:last-child)) {
    margin-bottom: var(--flow-spacer, 1rem);
}

:not(nav) > ul {
    list-style: inside;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--bg);
}

ol {
    list-style: decimal;
    list-style-position: inside;
}

li > p {
    margin-bottom: 0.5rem;
}

li > p:last-child {
    margin-bottom: 1rem;
}