.DS_Store
node_modules
/build
/.svelte-kit
/package
/dist
.env
.env.*
!.env.example
.vscode

# used for janky brain farts, don't commit
/src/routes/temp

# test files
/test-results/
/test/playwright/report/
/test/playwright/.cache/
