.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vscode

# used for janky brain farts, don't commit
/src/routes/temp

# test files
/test-results/
/playwright-report/
/test/template/.cache/
